flows.json
[{"id":"2c9c811d.54505e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"323b4b45.ed2934","type":"ui_form","z":"2c9c811d.54505e","name":"Predicting Life Expectancy","label":"Inputs","group":"e6393a38.cdf668","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"b","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"c","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"d","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"e","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"f","type":"number","required":true,"rows":null},{"label":"Measles","value":"g","type":"number","required":true,"rows":null},{"label":"BMI","value":"h","type":"number","required":true,"rows":null},{"label":"Under five deaths","value":"i","type":"number","required":true,"rows":null},{"label":"Polio","value":"j","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"k","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"l","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"m","type":"number","required":true,"rows":null},{"label":"GDP","value":"n","type":"number","required":true,"rows":null},{"label":"Population","value":"o","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"p","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"q","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"r","type":"number","required":true,"rows":null},{"label":"Schooling","value":"s","type":"number","required":true,"rows":null},{"label":"Developing","value":"t","type":"switch","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":420,"wires":[["292ab6dc.0f7eaa"]]},{"id":"292ab6dc.0f7eaa","type":"function","z":"2c9c811d.54505e","name":"Pre Token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n//following are required to receive a token\nvar apikey=\"mhgBrk-okpDYS95195UCdS0AI94yQtECLyDdEYRyUxUH\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":180,"y":180,"wires":[["611b36f.092eec8"]]},{"id":"93934711.71dac8","type":"http request","z":"2c9c811d.54505e","name":"Get access","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/81d37a0a-db09-4256-85a8-d97cb00891ad/deployments/92f6a443-0fb5-448e-a3ff-cdbe080e3f50/online","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":40,"wires":[["7d7fe305.bcf30c","f2a96ed8.f0b22"]]},{"id":"d4bcb70.d783e48","type":"debug","z":"2c9c811d.54505e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":180,"wires":[]},{"id":"f2a96ed8.f0b22","type":"function","z":"2c9c811d.54505e","name":"Get from Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":180,"wires":[["d4bcb70.d783e48","72cf3f71.fbb4"]]},{"id":"7d7fe305.bcf30c","type":"debug","z":"2c9c811d.54505e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":40,"wires":[]},{"id":"cc69a887.b25ba8","type":"function","z":"2c9c811d.54505e","name":"Send to Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"81d37a0a-db09-4256-85a8-d97cb00891ad\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Year\",\"Adult Mortality\", \"infant deaths\", \"Alcohol\",\n        \"percentage expenditure\", \"Hepatitis B\",\n       \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\",\n       \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\",\n       \" thinness  1-19 years\", \" thinness 5-9 years\",\n       \"Income composition of resources\", \"Schooling\",\"Status\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":180,"wires":[["93934711.71dac8"]]},{"id":"611b36f.092eec8","type":"http request","z":"2c9c811d.54505e","name":"Get a token","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":310,"y":40,"wires":[["cc69a887.b25ba8"]]},{"id":"72cf3f71.fbb4","type":"ui_text","z":"2c9c811d.54505e","group":"e6393a38.cdf668","order":1,"width":0,"height":0,"name":"Prediction","label":"Prediction :","format":"{{msg.payload}}","layout":"col-center","x":920,"y":420,"wires":[]},{"id":"e6393a38.cdf668","type":"ui_group","z":"","name":"Machine Learning Model","tab":"768d8b78.da1cd4","order":1,"disp":true,"width":"6","collapse":false},{"id":"768d8b78.da1cd4","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]